<a href="https://colab.research.google.com/github/k2moon/bigbungi/blob/main/test/bigbungi_work01_ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 빅분기 작업형 ▶ 제1유형
---

## 보스턴 DataSet boston.csv
-  DataSet ▶ https://tinyurl.com/54kchm3s

**DataSet 설명**

| No | Colounm | Desc |
| ------------ | ------------- | ------------- |
| 01 | CRIM  | 자치시(town) 별 1인당 범죄율  |
| 02 | ZN  | 25,000 평방피트를 초과하는 거주지역의 비율  |
| 03 | INDUS  | 비소매상업지역이 점유하고 있는 토지의 비율  |
| 04 | CHAS  | 찰스강에 대한 더미변수(강의 경계에 위치한 경우는 1, 아니면 0)  |
| 05 | NOX  | 10ppm 당 농축 일산화질소  |
| 06 | RM  | 주택 1가구당 평균 방의 개수  |
| 07 | AGE  | 1940년 이전에 건축된 소유주택의 비율   |
| 08 | DIS  | 5개의 보스턴 직업센터까지의 접근성 지수  |
| 09 | RAD  | 방사형 도로까지의 접근성 지수  |
| 10 | TAX  | 10,000 달러 당 재산세율  |
| 11 | PTRATIO  | 자치시(town)별 학생/교사 비율  |
| 12 | B  | 1000(Bk-0.63)^2, 여기서 Bk는 자치시별 흑인의 비율을 말함  |
| 13 | LSTAT  | 모집단의 하위계층의 비율(%)  |
| 14 | MEDV  | 본인 소유의 주택가격(중앙값) (단위: $1,000)  |

## 단순한 데이터 분석
---

In [ ]:
import pandas as pd
url = 'https://tinyurl.com/54kchm3s'
df = pd.read_csv(url)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Top 10 구하기
---

문제 : MEDV 컬럼에 대해서 가장 작은 값부터 순서대로 10개행을 출력하시오.(오름차순)

문제 : MEDV 컬럼에 대해서 가장 큰 값부터 순서대로 10개행을 출력하시오.(내림차순)

### 결측치 처리
---

문제 : RM 컬럼에 대한 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오. 단 최종적으로 출력하는 차이는 양수이다.

## 이상치값 처리하기
---

문제 : ZN 컬럼을 대상으로 ZN 값의 평균값에서 표준편자의 1.5배보다 크거나 작은 ZN값의 합계를 구하시오.

### 사분위수 구하기
---

문제 : CHAS 칼럼과 RAD 컬럼을 제외한 컬럼에서 컬럼별 IQR(Inter Quantiles Range) 구하시오. 단, 출력 구조는 2열, 1열은 컬럼 이름 표시

### 순위 구하기
---

문제 : MEDV 칼럼을 기준으로 30번째로 큰 값을 1번~ 29번째 값을 대치한다. 그리고 MEDB 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 출력하시오.

## 복잡한 데이터 분석
---

### 그룹별 집계 / 요약 하기
---

문제 : TAX 칼럼이 TAX 칼럼의 중위값보다 큰 데이터를 대상으로, CHAS, RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단, 데이터 개수는 COUNT라는 칼럼으로 출력하시오.

### 오름차순/ 내림차순 정렬 하기
---

문제 : TAX 컬럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구하고 각 순번에 맞는 오름차순과 내림차순의 차이 값을 구하여 분산 값을 출력하시오.

### 스케일링 하기
---

문제 : MEDV 칼럼을 최소최대척도 MinMaxScaler로 변환 후 0.5보다 큰 값을 가지는 개수를 구하시오.

문제 : DIS 칼럼을 표준화척도 StandardScaler로 변환 후 0.4보다 큰 면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단, 소수점 셋째 자리에서 반올림하여 소수점 들째 자리까지 출력하시오.

**전체 칼럼으로 작업 : 일반적**

**DIS 하나의 칼럼으로 작업**

**표준화 공식으로 작업**

### 빈도값 구하기
---


문제 : AGE 칼럼을 소숫점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE 값과 그 개수를 차례대로 출력 하시오. 즉 AGE 칼럼의 최빈값과 그 개수를 출력하시오.

### 유니크한 값 구하기
---

문제 : 전체 칼럼에서 중복을 제거한 유니크한 값을 구한 후, 컬럼별로 유니크 unique한 값의 개수를 기준으로 평균값을 구하시오.