<a href="https://colab.research.google.com/github/k2moon/bigbungi/blob/main/test/bigbungi_work01_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 빅분기 작업형 ▶ 제1유형
---

## 보스턴 DataSet boston.csv
-  DataSet ▶ https://tinyurl.com/54kchm3s

**DataSet 설명**

| No | Colounm | Desc |
| ------------ | ------------- | ------------- |
| 01 | CRIM  | 자치시(town) 별 1인당 범죄율  |
| 02 | ZN  | 25,000 평방피트를 초과하는 거주지역의 비율  |
| 03 | INDUS  | 비소매상업지역이 점유하고 있는 토지의 비율  |
| 04 | CHAS  | 찰스강에 대한 더미변수(강의 경계에 위치한 경우는 1, 아니면 0)  |
| 05 | NOX  | 10ppm 당 농축 일산화질소  |
| 06 | RM  | 주택 1가구당 평균 방의 개수  |
| 07 | AGE  | 1940년 이전에 건축된 소유주택의 비율   |
| 08 | DIS  | 5개의 보스턴 직업센터까지의 접근성 지수  |
| 09 | RAD  | 방사형 도로까지의 접근성 지수  |
| 10 | TAX  | 10,000 달러 당 재산세율  |
| 11 | PTRATIO  | 자치시(town)별 학생/교사 비율  |
| 12 | B  | 1000(Bk-0.63)^2, 여기서 Bk는 자치시별 흑인의 비율을 말함  |
| 13 | LSTAT  | 모집단의 하위계층의 비율(%)  |
| 14 | MEDV  | 본인 소유의 주택가격(중앙값) (단위: $1,000)  |

## 단순한 데이터 분석
---

In [3]:
import pandas as pd
url = 'https://tinyurl.com/54kchm3s'
df = pd.read_csv(url)
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Top 10 구하기
---

문제 : MEDV 컬럼에 대해서 가장 작은 값부터 순서대로 10개행을 출력하시오.(오름차순)

In [14]:
data = df.copy()
## sort_values() 디폴트 오름 차순
data = data.sort_values(by='MEDV', ascending=True)
data = data['MEDV']

result = data.head(10)
print(result)

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

문제 : MEDV 컬럼에 대해서 가장 큰 값부터 순서대로 10개행을 출력하시오.(내림차순)

In [17]:
data = df.copy()
## sort_values()  ascending=False 
data = data.sort_values(by='MEDV', ascending=False)
data = data['MEDV']

result = data.head(10)
print(result)

283    50.0
225    50.0
369    50.0
370    50.0
371    50.0
372    50.0
186    50.0
204    50.0
257    50.0
195    50.0
Name: MEDV, dtype: float64

### 결측치 처리
---

문제 : RM 컬럼에 대한 결측치를 평균값으로 대치한 후에 산출된 표준편차 값과 결측치를 삭제한 후에 산출된 표준편차 값의 차이를 구하시오. 단 최종적으로 출력하는 차이는 양수이다.

In [29]:
data = df.copy()

## isnull().sum()
data = data['RM']
# print(data.isnull().sum())

## fillna(), mean()
data_fill = data.fillna(data.mean())

## std()
std1 = data_fill.std() 
#print(std1)

## dropna()
data_drop = data.dropna()
std2 = data_drop.std()
#print(std2)

## abs()
result = abs(std1 - std2)
print(result)

0.010595546094104513

## 이상치값 처리하기
---

문제 : ZN 컬럼을 대상으로 ZN 값의 평균값에서 표준편자의 1.5배보다 크거나 작은 ZN값의 합계를 구하시오.

In [36]:
data = df.copy()

data = data['ZN']
#print(data.isnull().sum())

## mean()
data_mean = data.mean()

## std()
data_std = data.std() 
#print(std)

data_min = data_mean - (1.5 * data_std)
data_max = data_mean + (1.5 * data_std)
#print(data_min, data_max)

## sum()
data_min_sum = data[data < data_min].sum()
data_max_sum = data[data > data_max].sum()
#print(data_min_sum, data_max_sum)

result = data_min_sum + data_max_sum
print(result)

3462.5

### 사분위수 구하기
---

문제 : CHAS 칼럼과 RAD 컬럼을 제외한 컬럼에서 컬럼별 IQR(Inter Quantiles Range) 구하시오. 단, 출력 구조는 2열, 1열은 컬럼 이름 표시

In [72]:
data = df.copy()

## drop()
data = data.drop(columns=['CHAS', 'RAD'])
#print(data.info())

## describe()
data_desc = data.describe()
#print(data_desc.loc['25%'])
#print(data_desc.loc['75%'])

q1 = data_desc.loc['25%']
q3 = data_desc.loc['75%']

result = q3 - q1
print(result)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [69]:
## quantile()
q1 = data.quantile(.25)
q3 = data.quantile(.75)

result = q3 -q1
print(result)

CRIM         3.595038
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

### 순위 구하기
---

문제 : MEDV 칼럼을 기준으로 30번째로 큰 값을 1번~ 29번째 값을 대치한다. 그리고 MEDB 칼럼의 평균값, 중위값, 최솟값, 최댓값 순으로 출력하시오.

In [77]:
data = df.copy()

## isnull().sum()
data = data['MEDV']
#print(data.isnull().sum())

## sort_values()
data = data.sort_values(ascending=False)

v = data.iloc[29]
data.iloc[:29] = v

print(data.mean())
print(data.median())
print(data.min())
print(data.max())

22.1796442687747
21.2
5.0
41.7

## 복잡한 데이터 분석
---

### 그룹별 집계 / 요약 하기
---

문제 : TAX 칼럼이 TAX 칼럼의 중위값보다 큰 데이터를 대상으로, CHAS, RAD 칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오. 단, 데이터 개수는 COUNT라는 칼럼으로 출력하시오.

In [101]:
data = df.copy()

## median()
tax_median = data['TAX'].median()
#print(tax_median)

#print(data['TAX'] > tax_median)
data = data[data['TAX'] > tax_median]
#print(data['TAX'].min())

#data = data[['CHAS','RAD']]
#print(data.head())

## groupby(그룹핑컬럼)[작업컬럼].집계요약()
data_gr = data.groupby(['CHAS','RAD'])
#print(data_gr)

## groupby().count()
result = data_gr['CHAS'].count()
#result = data_gr['RAD'].count()
#result = data_gr['TAX'].count()
print(result)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: TAX, dtype: int64

### 오름차순/ 내림차순 정렬 하기
---

문제 : TAX 컬럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구하고 각 순번에 맞는 오름차순과 내림차순의 차이 값을 구하여 분산 값을 출력하시오.

In [134]:
data = df.copy()

data = data['TAX']

## sort_values()
data_asc = data.sort_values(ascending=True)
data_desc = data.sort_values(ascending=False)

#print(data_asc.head(1))
#print(data_desc.head(1))
print((data_asc - data_desc).iloc[0])
print(data_asc.iloc[0], data_desc.iloc[0])
print(data_asc.iloc[0] - data_desc.iloc[0])

## reset_index()
data_asc = data_asc.reset_index(drop=True)
data_desc = data_desc.reset_index(drop=True)

## concat()
data = pd.concat([data_asc, data_desc], axis=1)
#print(data.head())

## var()
result = (data_asc - data_desc).var()
print(result)

## 차이의 절대값
result = abs(data_asc - data_desc).var()
print(result)

0
187 711
-524
101954.72475247525
28490.598645951555

### 스케일링 하기
---

문제 : MEDV 칼럼을 최소최대척도 MinMaxScaler로 변환 후 0.5보다 큰 값을 가지는 개수를 구하시오.

In [147]:
data = df.copy()

## sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
print(type(data_minmax))

## DataFrame()
data = pd.DataFrame(data_minmax, columns=data.columns)
data = data['MEDV']

## count()
result = data[(data > 0.5)].count()
print(result)

106

문제 : DIS 칼럼을 표준화척도 StandardScaler로 변환 후 0.4보다 큰 면서 0.6보다 작은 값들에 대한 평균을 구하시오. 단, 소수점 셋째 자리에서 반올림하여 소수점 들째 자리까지 출력하시오.

**전체 칼럼으로 작업 : 일반적**

In [214]:
data = df.copy()

## sklearn.preprocessing
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data_std = scaler.fit_transform(data)

## DataFrame()
data_df = pd.DataFrame(data_minmax, columns=data.columns)
#print(data.head(3))
data_dis = data_df['DIS']

## count()
count_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].count()

## mean()
mean_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].mean()

result = round(mean_dis,2)
print(result)

72

**DIS 하나의 칼럼으로 작업**

In [215]:
data = df.copy()
data = data['DIS']

## sklearn.preprocessing
import numpy as np
from sklearn.preprocessing import StandardScaler

data = np.array(data).reshape(-1,1)
scaler = StandardScaler()
data_std = scaler.fit_transform(data)

## DataFrame()
data_df = pd.DataFrame(data_std)
print(data_df.head())

data_dis = data_df.iloc[:, 0]

## mean()
count_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].count()

## mean()
mean_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].mean()

result = round(mean_dis,2)
print(result)

          0
0  0.140214
1  0.557160
2  0.557160
3  1.077737
4  1.077737
0.48

**표준화 공식으로 작업**

In [219]:
data = df.copy()
data = data['DIS']

# numpy와 pandas 편차는 자유도가 다름, pandas = 1
data_std = (data - data.mean())/data.std(ddof=0)

## DataFrame()
data_df = pd.DataFrame(data_std)
print(data_df.head())

data_dis = data_df.iloc[:, 0]

## mean()
count_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].count()

## mean()
mean_dis = data_dis[(data_dis > 0.4) & (data_dis < 0.6)].mean()

result = round(mean_dis,2)
print(result)

        DIS
0  0.140214
1  0.557160
2  0.557160
3  1.077737
4  1.077737
0.48

### 빈도값 구하기
---


문제 : AGE 칼럼을 소숫점 첫 번째 자리에서 반올림하고, 가장 많은 비중을 차지하는 AGE 값과 그 개수를 차례대로 출력 하시오. 즉 AGE 칼럼의 최빈값과 그 개수를 출력하시오.

In [159]:
data = df.copy()

data = data['AGE']
#print(data.head())

## round()
data_round = round(data,0)
#print(data_round.head())

## value_counts()
data_count = data_round.value_counts()
#print(data_count.head())

## sort_values()
data_sort = data_count.sort_values(ascending=False)

## head(), reset_index()
data_reset_index = data_sort.head(1).reset_index()

result = (data_reset_index.iloc[0,0], data_reset_index.iloc[0,1])
print(result)

(100.0, 43)

### 유니크한 값 구하기
---

문제 : 전체 칼럼에서 중복을 제거한 유니크한 값을 구한 후, 컬럼별로 유니크 unique한 값의 개수를 기준으로 평균값을 구하시오.

In [235]:
data = df.copy()

## pd.columns
data_cols = data.columns
#print(data.columns)
for i in data_cols:
  #print(i)
  pass

## Series.unique()
uniq = data['CRIM'].unique()
uniq_len = len(uniq)
uniq_sum = sum(uniq)
uniq_mean  = uniq_sum /uniq_len
print(uniq_mean, uniq.mean())

## loop :  for
for i in data_cols:
  uniq = data[i].unique()
  uniq_len = len(uniq)
  uniq_sum = sum(uniq)
  uniq_mean  = uniq_sum /uniq_len
  print(uniq_mean, uniq.mean())
  
## >> ? 이게 맞는 것인가?

3.599393273809525 3.599393273809524
3.599393273809525 3.599393273809524
47.15384615384615 47.15384615384615
6.129999999999999 6.130000000000001
0.5 0.5
0.5172827160493828 0.5172827160493827
nan nan
62.308146067415684 62.308146067415734
3.4200242718446607 3.4200242718446603
6.666666666666667 6.666666666666667
313.45454545454544 313.45454545454544
17.476086956521737 17.47608695652174
340.4255742296917 340.4255742296919
12.885406593406593 12.885406593406591
23.145414847161575 23.14541484716157

In [243]:
## RM 처리
data_rm = data['RM']
print(data_rm.isnull().sum())

## fillna()
data_rm = data_rm.fillna(data_rm.mean())
print(data_rm.isnull().sum())

uniq = data_rm.unique()
uniq_len = len(uniq)
uniq_sum = sum(uniq)
uniq_mean  = uniq_sum /uniq_len
print(uniq_mean, uniq.mean())

15
0
434 2732.989101832997
6.297209912057597 6.29720991205759

In [248]:
data = df.copy()

## pd.columns
data_cols = data.columns

## loop :  for
uniq_sum = 0
for i in data_cols:
  uniq = len(data[i].unique())
  #print(uniq)
  uniq_sum += uniq

print(uniq_sum)

result = uniq_sum / len(data_cols)
print(result)

3053
218.07142857142858

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB