<a href="https://colab.research.google.com/github/k2moon/bigbungi/blob/main/real/bigbungi_04_ans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4회 기출문제
---

## 작업형 1유형

1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

- DataSet : https://tinyurl.com/4kzxbeuz

In [1]:
import pandas as pd
url = 'https://tinyurl.com/4kzxbeuz'
df = pd.read_csv(url)
print(df.head())

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# print("1사분위: ",df['age'].quantile(0.25))
# print("3사분위: ",df['age'].quantile(0.75))

result = abs(df['age'].quantile(0.25) - df['age'].quantile(0.75))

print(int(result))

50

2. (loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수

- DataSet: https://tinyurl.com/y5862f28

In [3]:
import pandas as pd
url = 'https://tinyurl.com/y5862f28'
df = pd.read_csv(url)
print(df.head())

   id   type  reactions  comments  shares  likes  loves  wows  hahas  sads  \
0   1  video        529       512     262    432     92     3      1     1
1   2  photo        150         0       0    150      0     0      0     0
2   3  video        227       236      57    204     21     1      1     0
3   4  photo        111         0       0    111      0     0      0     0
4   5  photo        213         0       0    204      9     0      0     0

   angrys
0       0
1       0
2       0
3       0
4       0

In [4]:
cond1 = (df['loves'] + df['wows'])/ df['reactions'] > 0.4
cond2 = (df['loves'] + df['wows'])/ df['reactions'] < 0.5
cond3 = df['type'] == 'video'

result = len(df[cond1 & cond2 & cond3])
print(result)

90

3.  date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

- DataSet: https://tinyurl.com/bd48cwsm
- DataSet 다운로드 : https://tinyurl.com/vd958vjd

In [5]:
import pandas as pd
url = 'https://tinyurl.com/bd48cwsm'
df = pd.read_csv(url)
print(df.head())

  show_id     type                  title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

           date_added  release_year rating   duration  \
0  September 25, 2021          2020  PG-13     90 min
1  September 24, 2021          2021  TV-MA  2 Seasons
2  September 24, 2021          2021  TV-MA   1 Season
3  September 24, 2021          2021  TV-MA   1 Season
4  September 24, 2021          2021  TV-MA  2 Seasons

                                           listed_in
0                                      Documentaries
1    International TV Shows, TV Dramas, TV Mysteries
2  Crime TV Shows, International TV Shows, TV Act...
3                             Docuseries, Reality TV
4  International TV Shows, Romantic TV Shows, TV ...

In [6]:
cond1 = df['country'] == "United Kingdom"

# 날짜형으로 변환 해서 처리
df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month

# 답 1
cond2 = df['year'] == 2018
cond3 = df['month'] == 1

result = len(df[cond1 & cond2 & cond3])

print(result)

6

In [7]:
# 답2
cond2 = df['date_added'] >= '2018-1-1'
cond3 = df['date_added'] <= '2018-1-31'

result = len(df[cond1 & cond2 & cond3])

print(result)

6

## 작업형 2유형

### [마케팅] 자동차 시장 세분화
- 자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했습니다.
- 기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측해주세요!
- 예측할 값(y): "Segmentation" (1,2,3,4)
- 평가: Macro f1-score
- data: train.csv, test.csv

* 결과 제출 양식 : ID, Segmentation

- DataSet: https://tinyurl.com/y82mvaf2

In [29]:
import pandas as pd
import numpy as np

url = 'https://tinyurl.com/y82mvaf2'
data = pd.read_csv(url)
print(data.head().T)

                          0         1       2        3           4
ID                   462809    466315  461735   461319      460156
Gender                 Male    Female    Male     Male        Male
Ever_Married             No       Yes     Yes      Yes          No
Age                      22        67      67       56          32
Graduated                No       Yes     Yes       No         Yes
Profession       Healthcare  Engineer  Lawyer   Artist  Healthcare
Work_Experience         1.0       1.0     0.0      0.0         1.0
Spending_Score          Low       Low    High  Average         Low
Family_Size             4.0       1.0     2.0      2.0         3.0
Var_1                 Cat_4     Cat_6   Cat_6    Cat_6       Cat_6
Segmentation              4         2       2        3           3

In [33]:
# 데이터 가져오기 read_csv()
df = data.copy()

# x_test_data = pd.read_csv("data/X_test.csv")
# x_train_data = pd.read_csv("data/X_train.csv")
# y_train_data = pd.read_csv("data/y_train.csv")

# ------- 데이터 확인 info ---------


# 모든 컬럼값 확인 T
print(df.head().T)

# 행/열 확인 shape (생략가능)
print(df.shape)

# 요약정보 확인 info()
## 데이터타입, 결측치 등 확인, object 범주형
### object 범주형 인코딩 확인
print(df.info())
# 명목형변수 확인
# 결측치 없음
print(df.isnull().sum())

# 기초통계량 확인 describe()
## count, mean,std,min, 25%, 50%, 75%, max
### 데이터 스케일링 확인, 회귀, 비tree 계열
print(df.describe().T)

# 타깃값 확인 value_counts, unique
## 1차원인지도 확인 (y,)
#y_train = df['Segmentation']
y_train = df.pop('Segmentation')
x_train = df.copy()
print(y_train.value_counts())

# 테스트용 데이터 분리
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_train, y_train, test_size=0.2)
test_id = x_test.pop('ID')
print(test_id.shape)
# ------- 데이터 전처리 preprocessing ---------

# 불필요한 컬럭 삭제 drop(columns=[])
## PK 역할 컬럼 등 삭제

x_train = x_train.drop(columns='ID')
#x_test = x_test.drop(columns='ID')

print(x_train.head())

# 결측치 처리하기 fillna()
## 임의로 결측치 삭제하지 말 것
## 평균, 중앙값, 상황에 따른 값



# 범주형 변수 인코딩
## 라벨 인코딩 LabelEncoder, 원핫인코딩  OneHotEncoder
## 라벨 인코딩(Tree 계열의 분류 알고리즘에 사용)

from sklearn.preprocessing import LabelEncoder 
encoder = LabelEncoder()
x_train['Gender'] = encoder.fit_transform(x_train['Gender'])
x_train['Ever_Married'] = encoder.fit_transform(x_train['Ever_Married'])
x_train['Graduated'] = encoder.fit_transform(x_train['Graduated'])
x_train['Profession'] = encoder.fit_transform(x_train['Profession'])
x_train['Spending_Score'] = encoder.fit_transform(x_train['Spending_Score'])
x_train['Var_1'] = encoder.fit_transform(x_train['Var_1'])

x_test['Gender'] = encoder.fit_transform(x_test['Gender'])
x_test['Ever_Married'] = encoder.fit_transform(x_test['Ever_Married'])
x_test['Graduated'] = encoder.fit_transform(x_test['Graduated'])
x_test['Profession'] = encoder.fit_transform(x_test['Profession'])
x_test['Spending_Score'] = encoder.fit_transform(x_test['Spending_Score'])
x_test['Var_1'] = encoder.fit_transform(x_test['Var_1'])

print(x_train.info())

# 파생변수 생성
## 필요시 생성


# 데이터 스케일링
## 연속형 변수의 최대, 최소 분포차가 클때
## MinMaxScaler, StandardScaler, RobustScaler
## test는 train용의로 transform() 
## Tree 계열 필수는 아님
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns=x_train.columns)
x_test = pd.DataFrame(scaler.transform(x_test), columns=x_test.columns)

# 상관관계 확인 corr()
## 필요 시 확인
#print('>>>>>>>>>>>',x_train.corr())

# 전처리 확인 info()
print(x_train.info())

# ------- 머신러닝 machine learning ---------

# 평가용 데이터 분리 model_selection
## stratify, stes_size, y값 1차원 확인


# 데이터 학습
## fit, predict, predict_proba
## 분류 XXXClassifier, LogisticRegression
## 회귀(예측) XXXRegressor(XXXRegression)
## 공통 ensemble
## RandomForestXXX : n_estimators (default = 100), max_depth, criterion
## criterion : 분할 품질을 측정하는 기능 ()
### RandomForestClassifier: criterion{“gini”, “entropy”, “log_loss”}, default=”gini”
### RandomForestRegressor: criterion{“mse”, “mae”}, / v1.2 criterion{“squared_error”, “absolute_error”}, default=”squared_error”
## GradientBoostingXXX : n_estimators, learning_rate(default =  0.1)
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

rf_model = RandomForestClassifier()
rf_model.fit(x_train, y_train)
rf_pred = rf_model.predict(x_test)

gbc_model = GradientBoostingClassifier()
gbc_model.fit(x_train, y_train)
gbc_pred = gbc_model.predict(x_test)

# 데이터 평가 metrics
## 회귀 : MAE, MSE, RMSE, R^2, RMSE는 np.sqrt(MSE값)
## 분류 : ROC_AUC, Accuracy(정확도), Precision(정밀도), Recall(재현율)
## f1_score() : averageone of [None, 'micro', 'macro', 'weighted'] 필수값
from sklearn.metrics import f1_score
print(f1_score(y_test, rf_pred, average='macro'))
print(f1_score(y_test, gbc_pred, average='macro'))

# ------- 답안 제출 ---------

# 전체학습데이터로 다시 학습


# 제출용 예측

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
pd.DataFrame({'ID': test_id, 'TravelInsurance': gbc_pred}).to_csv('424242.csv', index=False)


# 제출 최종 확인
print(pd.read_csv("./424242.csv").head())

                          0         1       2        3           4
ID                   462809    466315  461735   461319      460156
Gender                 Male    Female    Male     Male        Male
Ever_Married             No       Yes     Yes      Yes          No
Age                      22        67      67       56          32
Graduated                No       Yes     Yes       No         Yes
Profession       Healthcare  Engineer  Lawyer   Artist  Healthcare
Work_Experience         1.0       1.0     0.0      0.0         1.0
Spending_Score          Low       Low    High  Average         Low
Family_Size             4.0       1.0     2.0      2.0         3.0
Var_1                 Cat_4     Cat_6   Cat_6    Cat_6       Cat_6
Segmentation              4         2       2        3           3
(6665, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB
None
ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64
                  count           mean          std       min       25%  \
ID               6665.0  463519.840960  2566.431740  458982.0  461349.0
Age              6665.0      43.536084    16.524054      18.0      31.0
Work_Experience  6665.0       2.629107     3.405365       0.0       0.0
Family_Size      6665.0       2.841110     1.524743       1.0       2.0
Segmentation     6665.0       2.542836     1.122723       1.0       2.0

                      50%       75%       max
ID               463575.0  465741.0  467974.0
Age                  41.0      53.0      89.0
Work_Experience       1.0       4.0      14.0
Family_Size           2.0       4.0       9.0
Segmentation          3.0       4.0       4.0
4    1757
3    1720
1    1616
2    1572
Name: Segmentation, dtype: int64
(1333,)
      Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
6239    Male           No   51       Yes      Artist              5.0
3210  Female           No   42       Yes    Engineer             11.0
4328  Female          Yes   51       Yes      Artist              6.0
303   Female           No   18        No  Healthcare              9.0
3823  Female          Yes   38        No    Engineer              1.0

     Spending_Score  Family_Size  Var_1
6239            Low          1.0  Cat_6
3210            Low          1.0  Cat_6
4328           High          2.0  Cat_4
303             Low          5.0  Cat_4
3823            Low          1.0  Cat_4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5332 entries, 6239 to 4730
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           5332 non-null   int64
 1   Ever_Married     5332 non-null   int64
 2   Age              5332 non-null   int64
 3   Graduated        5332 non-null   int64
 4   Profession       5332 non-null   int64
 5   Work_Experience  5332 non-null   float64
 6   Spending_Score   5332 non-null   int64
 7   Family_Size      5332 non-null   float64
 8   Var_1            5332 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 416.6 KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5332 entries, 0 to 5331
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           5332 non-null   float64
 1   Ever_Married     5332 non-null   float64
 2   Age              5332 non-null   float64
 3   Graduated        5332 non-null   float64
 4   Profession       5332 non-null   float64
 5   Work_Experience  5332 non-null   float64
 6   Spending_Score   5332 non-null   float64
 7   Family_Size      5332 non-null   float64
 8   Var_1            5332 non-null   float64
dtypes: float64(9)
memory usage: 375.0 KB
None
0.4971524559247341
0.5261998855976184
       ID  TravelInsurance
0  459405                2
1  462795                4
2  464033                4
3  459661                3
4  462407                2